In [1]:
import pandas as pd
from DataPrepKit import DataPrep

# Initialization

First, initialize a class object like the cell below. Instances of this class do not need arguments to be initialized. They also don't contain any variables and have functions only.

In [2]:
dp = DataPrep()

You can use the readData() by providing it with the filename and it returns a DataFrame. It can read from .csv, .xlsx, .html, .json, .sql, .db. if the file is not in one of these formats it returns 0. If the filename doesn't exist it raises an error.

In [3]:
df = dp.readData('listings.csv')

The removeNullCols() function removes all columns that contain only NULL values. It takes a DataFrame as an argument and returns a DataFrame.

In [ ]:
df = dp.removeNullCols(df)

The fixNull() function needs 2 arguments the first is a DataFrame and the second is the method to deal with missing values. it takes only 'mean', 'median', and 'drop' as a second argument and returns a DataFrame.

In [4]:
df = dp.fixNull(df,'mean')

The encode() function takes a DataFrame as the first argument and a list of column names as the second argument. It sorts the value names of each column and numerically encodes them. It adds the new column to the DataFrame with the same name + '_encoded' and then returns the DataFrame. The encoding starts from 1.

In [6]:
df = dp.encode(df, ['room_type','neighbourhood'])

The printStats() function takes a DataFrame as the first argument and 2 additional optional arguments. The first optional argument is 'numerical_cols': it takes a list of numerical columns and prints the mean and median for each of them. it prints the mean and median for all numerical columns in the DataFrame if you provide it with the value 0 as so numerical_cols = 0. The second optional argument is category_cols: it takes a list of str type column names and prints the counts of the unique values in each columns

In [7]:
dp.printStats(df,numerical_cols=['latitude', 'longitude', 'price'] , category_cols=['room_type','neighbourhood'])

***Key Statistical Data***
Mean and Median for numerical columns:
latitude: mean= 42.65757050230569, median= 42.6573
longitude: mean= -73.77680454604476, median= -73.77351291441055
price: mean= 125.2032967032967, median= 100.0

Value Counts for categorically encoded columns:
room_type
Entire home/apt    285
Private room       119
Shared room          3
Name: count, dtype: int64

neighbourhood
SIXTH WARD         86
SECOND WARD        51
TENTH WARD         37
FOURTEENTH WARD    35
THIRD WARD         35
NINTH WARD         32
THIRTEENTH WARD    31
ELEVENTH WARD      19
SEVENTH WARD       18
FIFTEENTH WARD     17
FOURTH WARD        14
EIGHTH WARD         9
FIRST WARD          9
FIFTH WARD          8
TWELFTH WARD        6
Name: count, dtype: int64